@charset "EUC-KR";
#emotion
{
	position: absolute;
	top:250px;
	height:500px;
}
#keywords
{
	position: absolute;
	top:500px;
	left:650px;
	width:500px;
}
.pnarea
{
	top:90px;
	left:220px;
	position: absolute;
}
.pnratio
{
	top:750px;
	left:130px;
	position: absolute;
}
.percent
{
	top:740px;
	left:280px;
	position: absolute;
}
.correlationarea
{
	top:75px;
	left:850px;
	position: absolute;		
}
.representkey
{
	top:150px;
	left:700px;
	position: absolute;
}
.keyword1
{
	top:185px;
	left:700px;
	position: absolute;
}
.keyword2
{
	top:220px;
	left:700px;
	position: absolute;
}
.keyword3
{
	top:255px;
	left:700px;
	position: absolute;
}
.keyword4
{
	top:295px;
	left:700px;
	position: absolute;
}
.keyword5
{
	top:330px;
	left:700px;
	position: absolute;
}

.choicead
{
	top:70px;
	left:1500px;
	position: absolute;
}
.ad
{
	top:150px;
	left:1250px;
	position: absolute;	
}
.bkeyword1
{
	top:700px;
	left:1300px;
	position: absolute;	
}
.akeyword1
{
	top:700px;
	left:1700px;
	position: absolute;	
}
.bkeyword2
{
	top:730px;
	left:1350px;
	position: absolute;	
}
.akeyword2
{
	top:730px;
	left:1725px;
	position: absolute;	
}
.similarity
{
	top:820px;
	left:1500px;
	position: absolute;			
}
.stick1
{
	border-left:thick solid black;
	height:820px;
	margin-left:600px;
	position:absolute;
}
.stick2
{
	border-left:thick solid black;
	height:820px;
	margin-left:1200px;
	position:absolute;
}
.stick3
{
	border-bottom:3px solid black;
	width:100px;
	margin-left:850px;
	margin-top:130px;
	position: absolute;
}
.stick4
{
	border-bottom:3px solid black;
	width:100px;
	margin-left:850px;
	margin-top:165px;
	position: absolute;
}
.stick5
{
	border-bottom:3px solid black;
	width:100px;
	margin-left:850px;
	margin-top:200px;
	position: absolute;
}
.stick6
{
	border-bottom:3px solid black;
	width:100px;
	margin-left:850px;
	margin-top:240px;
	position: absolute;
}
.stick7
{
	border-bottom:3px solid black;
	width:100px;
	margin-left:850px;
	margin-top:275px;
	position: absolute;
}
.arrow1
{
	position: absolute;
	content: '';
    width: 10px; /* 사이즈 */
    height: 10px; /* 사이즈 */
    border-top: 5px solid #121212; /* 선 두께 */
    border-right: 5px solid #121212; /* 선 두께 */
    display: inline-block;
    transform: rotate(45deg); /* 각도 */
    position: absolute;
    top: 210px; /* 기본 0px 값으로 해주세요 */
    left: 945px; /* 기본 0px 값으로 해주세요 */
}
.arrow2
{
	position: absolute;
	content: '';
    width: 10px; /* 사이즈 */
    height: 10px; /* 사이즈 */
    border-top: 5px solid #121212; /* 선 두께 */
    border-right: 5px solid #121212; /* 선 두께 */
    display: inline-block;
    transform: rotate(45deg); /* 각도 */
    position: absolute;
    top: 245px; /* 기본 0px 값으로 해주세요 */
    left: 945px; /* 기본 0px 값으로 해주세요 */
}
.arrow3
{
	position: absolute;
	content: '';
    width: 10px; /* 사이즈 */
    height: 10px; /* 사이즈 */
    border-top: 5px solid #121212; /* 선 두께 */
    border-right: 5px solid #121212; /* 선 두께 */
    display: inline-block;
    transform: rotate(45deg); /* 각도 */
    position: absolute;
    top: 280px; /* 기본 0px 값으로 해주세요 */
    left: 945px; /* 기본 0px 값으로 해주세요 */
}
.arrow4
{
	position: absolute;
	content: '';
    width: 10px; /* 사이즈 */
    height: 10px; /* 사이즈 */
    border-top: 5px solid #121212; /* 선 두께 */
    border-right: 5px solid #121212; /* 선 두께 */
    display: inline-block;
    transform: rotate(45deg); /* 각도 */
    position: absolute;
    top: 320px; /* 기본 0px 값으로 해주세요 */
    left: 945px; /* 기본 0px 값으로 해주세요 */
}
.arrow5
{
	position: absolute;
	content: '';
    width: 10px; /* 사이즈 */
    height: 10px; /* 사이즈 */
    border-top: 5px solid #121212; /* 선 두께 */
    border-right: 5px solid #121212; /* 선 두께 */
    display: inline-block;
    transform: rotate(45deg); /* 각도 */
    position: absolute;
    top: 355px; /* 기본 0px 값으로 해주세요 */
    left: 945px; /* 기본 0px 값으로 해주세요 */
}
.Similarity1
{
	top:185px;
	left:1000px;
	position: absolute;
}
.Similarity2
{
	top:220px;
	left:1000px;
	position: absolute;
}
.Similarity3
{
	top:255px;
	left:1000px;
	position: absolute;
}
.Similarity4
{
	top:295px;
	left:1000px;
	position: absolute;
}
.Similarity5
{
	top:330px;
	left:1000px;
	position: absolute;
}