@charset "EUC-KR";
#emotion
{	
	width:100%;
	height:60vw;
}
#keywords 
{	
	width:100%;
	height:70vw;
}
#container
{	
	float:center;
	width:600px;
	height:50%;
	left:300px;
	position: relative;
}
#similarity
{
	position: absolute;
	top:200px;
	height:500px;
	left:450px;
}
.title
{	
	text-align:center;
	width:auto;
	height:auto;
}
#title
{
	border:1px solid black;
	left:770px;
	position: absolute;
}
.subtitle1
{	
	text-align:center;
	width:auto;
	height:auto;
}
#button_next
{	
	border-radius : 30px;
	float:right;
	width:auto;
	height:auto;
}
#button_back
{	
	border-radius : 30px;
	float:left;
	width:auto;
	height:auto;
}
.board_keywords
{	
	margin-top:50px;
	left:30px;
	position:absolute;
}
.board_keywords1
{
	margin-top:120px;
	left:100px;
	position:absolute;
}
.ad_keywords
{
	margin-top:50px;
	right:30px;
	position:absolute;
	
}
.ad_keywords1
{
	margin-top:120px;
	right:100px;
	position:absolute;
}
.emotion_ratio
{
	top:480px;
	left:370px;
	position: absolute;
}
.emotion_percent
{
	top:580px;
	left:370px;
	position: absolute;
}
.subtitle2
{
	top:120px;
	left:780px;
	position: absolute;	
}
.subtitle3
{
	top:150px;
	left:780px;
	position: absolute;	
}
.ad
{	
	z-index : 100;
	float:center;
	width:10%;
	height:5%;
	position:relative;
}
.select_ad
{
	top:120px;
	left:800px;
	position: absolute;	
}
.analyze_emotion
{
	top:360px;
	left:370px;
	position: absolute;	
}

.analyze_similarity
{
	top:360px;
	left:1300px;
	position: absolute;	
}
.analyze_similarity1
{
	top:480px;
	left:1350px;
	position: absolute;	
}
.analyze_similarity2
{
	top:580px;
	left:1370px;
	position: absolute;	
}
.analyze_keywords
{
	top:360px;
	left:770px;
	position: absolute;	
}


.adkeyword1
{
	top:500px;
	left:800px;
	position: absolute;	
}

.similarity
{
	top:620px;
	left:1250px;
	position: absolute;			
}
.line1
{
	border-left:3px solid black;
	height:400px;
	margin-left:600px;
	margin-top:410px;
	position:absolute;
}
.line2
{
	border-left:3px solid black;
	height:400px;
	margin-left:1200px;
	margin-top:410px;
	position:absolute;
}
.line4
{
	border-left:3px solid black;
	height:50px;
	margin-left:1150px;
	margin-top:550px;
	position: absolute;
}
.line5
{
	border-bottom:3px solid black;
	width:323px;
	margin-left:1150px;
	margin-top:600px;
	position: absolute;
}
.line6
{
	border-left:3px solid black;
	height:50px;
	margin-left:1470px;
	margin-top:550px;
	position: absolute;
}